<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="icon" type="image/x-icon" href="{% static 'images/contentDeco/ubd-favicon.ico' %}"> 
    <title>{{job.name}}</title>
</head>
<body>
    {% include 'main/constant/header.html' %}
    {% include 'main/mainPages/ubdnav.html' %}
    <div class="container">
        <div class="viewbox">
            <h1 style="padding-bottom:20px;">{{job.name}}</h1>
            <div>
                <h5>University Brunei Darussalam</h5>
                <h4>{{job.type}} | {{job.category}} | {{job.department}}</h4>
            </div><hr/>
            <div style="font-size:16px; margin-bottom:30px;">{{job.description | safe}}</div>
            <div id="apply-btn">
                <a href="{% url 'jobForm' job.id %}"><button class="btn btn-primary" style="padding:10px 50px;">APPLY</button></a>
            </div>
        </div>
    </div>

    {% include 'main/constant/footer.html' %}

    {% if messages %}
    {% for message in messages %}
    <script>
        alert('{{message}}')
    </script>
    {% endfor %}
    {% endif %}
</body>
</html>