 {% load static %}
 <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="list-style:none;">
                    <li style="font-weight:bold;">CONTACT<br><br></li>
                    <li><span class="glyphicon glyphicon-globe"></span><a href="https://ubd.edu.bn/"> www.ubd.edu.bn</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span> enquiry.recruit@ubd.edu.bn</li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span> +673 246 0923 Ext:2782</li>
                    <li>Registrar & Secretary<br>
                            Universiti Brunei Darussalam<br>
                            Jalan Tungku Link<br>
                            Gadong BE1410<br>
                            Negara Brunei Darussalam</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul style="list-style:none;">
                    <li style="font-weight:bold;">SITEMAP<br><br></li>
                    <li><a href="../index.php">Home</a></li>
                    <li><a href="ubd_research.php">Research & Faculties</a></li>
                    <li><a href="ubd_living.php">Living in Brunei</a></li>
                    <li><a href="ubd_benefits.php">Benefits</a></li>
                    <li><a href="ubd_about.php">About UBD</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/contentDeco/ubd-logo-white-300.png'%}" style="width:300px; padding-bottom:30px;">
                <img src="{% static 'images/contentDeco/ubd-badge-2023_1000w.jpg'%}" style="width:300px;">
            </div>
        </div>
        <div class="row" style="margin-top:40px; text-align:center;">
            <p>Copyright © 2023 Universiti Brunei Darussalam (UBD)</p>
        </div>
    </div>
</div>