<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'mod/constant/meta.html' %}
    {% load bootstrap5 %}
    <link href="{% static 'css/recruiter_reg.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

     {% bootstrap_css %}
   {% bootstrap_javascript %}
    <title>Register recruiters</title>
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        .card-registration .select-arrow {
        top: 13px;
        }
    </style>
</head>
<body style="background: #f0f2f5;">
      {% include 'mod/constant/navbar.html' %}
    <section>
        
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Recruiter Registration Form</h3>
            <form method="POST">
            {% csrf_token %}
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="fname" name="fname" class="form-control form-control-lg" />
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lname" name="lname" class="form-control form-control-lg" />
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" id="email" name="email" class="form-control form-control-lg" />
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-lg" name="password" />
                  </div>
                </div>

                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Password Confirmation</label>
                    <input type="password" class="form-control form-control-lg" name="password1" />
                  </div>
                </div>
            </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                        <label for="category">Category</label>
                        <div style="height:40px !important">
                            <select name="category" id="category" class="form-control">
                            {% for c in category %}
                                <option value="{{c}}">{{c}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                        <label for="department">Department</label>
                        <br>
                        <div style="height:40px !important">
                            <select name="department" id="department" class="form-control">
                                {% for d in department %}
                                    <option value="{{d}}">{{d}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
              </div>


              <div class="p-t-15">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                
              </div>
              <div style="text-align: center;">
              <a href="{% url 'manageRecruiters' %}">Go back</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="margin-top: 150px;">
      {% include 'main/constant/footer.html' %}

</div>

</body>

{% if message1 %}
    <script>alert('{{message1}}')</script>
{% endif %}

{% if message %}
    <script>alert('{{message}}')</script>
{% endif %}

{% if msg %}
    <script>alert('{{msg}}')</script>
{% endif %}
</html>
<!-- end document-->