<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tiny.cloud/1/7zn3ri5ddslplijof7zi2g9zvwgit3lpa1cyd6rtf3wf0ygh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editor',
            height: 800,
            plugins: 'charmap codesample image lists link media searchreplace table visualblocks',
            toolbar: 'undo redo | bold italic underline strikethrough | forecolor backcolor | blocks fontsize | bullist numlist indent outdent align lineheight | link',
            contextmenu: false
        });
    </script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/contentDeco/ubd-favicon.ico' %}"> 
    <title>EDIT JOB</title>
</head>
<body>
        {% include 'mod/constant/navbar.html' %}
<br>

        <div class="container" style="border:1px solid lightgrey; padding:20px;">
        <h1>Edit job posting for {{job.name}}</h1><br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="job_name">Job Title</label><br> 
                        <input class="form-control" type="text" name="name" required value="{{job.name}}">
                    </div>
                    <div class="col-md-3">
                        <label for="job_category">Category</label><br>
                        <select class="form-control" name="category" required>
                            {% for c in category %}
                                {% if c == job.category %}
                                    <option value="{{c}}" selected>{{c}}</option>
                                {% else %}
                                    <option value="{{c}}">{{c}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="job_department">Department</label><br>
                        <select class="form-control" name="department" required>
                            {% for d in department %}
                                {% if d == job.department %}
                                <option value="{{d}}" selected>{{d}}</option>
                                {% else %}
                                <option value="{{d}}">{{d}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-3">
                        <label for="job_type">Job Type</label><br>
                        <select class="form-control" name="type" required>
                            {% for t in type %}
                                {% if t == job.type %}
                                <option value='{{t}}' selected>{{t}}</option>
                                {% else %}
                                <option value='{{t}}'>{{t}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                     <div class="col-md-3">
                        <label for="job_salary">Minimum Salary per annum in BND :</label><br>
                        <input class="form-control" type="number" name="salaryMin" value="{{job.salaryMin}}"> 
                    </div>
                    <div class="col-md-3">
                        <label for="job_salary">Maximum Salary per annum in BND:</label><br>
                        <input class="form-control" type="number" name="salaryMax" value="{{job.salaryMax}}">
                    </div>
                    <div class="col-md-3">
                        <label for="date_close">Closing Date:</label><br>
                        <input class="form-control" type="date" name="dateClose" value="{{job.dateClose| date:'Y-m-d'}}">
                    </div>
                </div></br>
                <div class="row">
                    <div class="col-md-3">
                        <label for="job_status">Job Status:</label><br>
                        <select class="form-control" name="status" required>
                            <option value='OPEN'>OPEN</option>
                            <option value='CLOSED'>CLOSED</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="job_status">Job Contract Duration (YEARS):</label><br>
                        <input class="form-control" type="number" name="contractDur" value="{{job.contractDur}}">
                    </div>
                    <div class="col-md-3">
                        <label for="job_status">Minimum Requirements:</label><br>
                        <select class="form-control" name="minReq" required>
                            {% for m in  minReq %}
                                {% if m == job.minReq %}
                                    <option value='{{m}}' selected>{{m}}</option>
                                {% else %}
                                    <option value='{{m}}'>{{m}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="job_status">Years of Experience:</label><br>
                        <input class="form-control" type="number" name="yearsExp" value="{{job.yearsExp}}">
                    </div>
                </div><br>
                <div style="margin-top:10px;">
                    <label for="job_info">Description</label><br>
                    <textarea id="editor" class="form-control" name="description" value="{{job.description | safe}}"></textarea>
                </div><br><br>

                <div class="row">
                    <p>Choose what happens when Applicant clicks APPLY :</p>
                    <div class="col-md-3">
                        <select class="form-control" id="form" name="form" onchange="changeForm()" required>
                            <option value=''>---</option>
                            <option value='ACADEMIC'>Academic Form</option>
                            <option value='EMAIL'>Ask to email</option>
                            <option value='LINK'>Redirect to link</option>
                            <option value='CUSTOM'>Show Message</option>
                        </select>
                    </div>
                    <div class="col-md-6" id="custom-msg">
                        <!-- Using JavaScript to update this element -->
                    </div>
                </div><br><br>

                <div>
                    <button class="btn btn-primary" type="submit" name="add-job">Update Changes</button>
                    <a class="btn btn-secondary" href="{% url 'manageJobs' %}">Cancel</a>
                </div>

            </form>
        </div>
    </div><br>

    
    <!--footer-->>

    <script>
        function changeForm() {
            var form_val = document.getElementById("form").value;
            switch (form_val) {
                case 'ACADEMIC':
                    document.getElementById("custom-msg").innerHTML = "<p>Default Application Form for Academic Position</p>";
                    break;

                case 'CUSTOM':
                    var html = '<input class="form-control" name="btnMsg" ';
                    html += 'placeholder="Example: To apply for this job email your details to example@gmail.com">';
                    document.getElementById("custom-msg").innerHTML = html;
                    break;

                case 'LINK':
                    var html = '<input type="url" class="form-control" name="btnMsg" ';
                    html += 'placeholder="Example: https://google.forms/example">';
                    document.getElementById("custom-msg").innerHTML = html;
                    break;

                case 'EMAIL':
                    var html = '<input type="email" class="form-control" name="btnMsg" ';
                    html += 'placeholder="Example: example@gmail.com">';
                    document.getElementById("custom-msg").innerHTML = html;
                    break;

                default:
                    document.getElementById("custom-msg").innerHTML = "";
            }
        }
    </script>

 {% include 'main/constant/footer.html' %}

</body>
</html>