<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'mod/constant/meta.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/viewApplicant.css' %}"/>


    <title>Manage Recruiters</title>
</head>
<body>
    {% include 'mod/constant/navbar.html' %}
    <br>
    <div style="width: 90%; margin-left: auto; margin-right: auto;">
        <h3 class="display-7 fw-bold">Manage Jobs</h3><hr>
        <p class="lead mb-4">Below are the list of jobs</p>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
                <div class="card-body total" style="text-align: center;">
                    <h5 class="card-title">Total jobs:</h5>
                    <p class="card-text">{{totalJobs}} jobs</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body recommended" style="text-align: center;">
                    <h5 class="card-title">Opened jobs:</h5>
                    <p class="card-text">{{openJobs}} jobs</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin-left: auto; margin-right: auto;">
                <div class="card-body pending" style="text-align: center;">
                    <h5 class="card-title">Closed jobs:</h5>
                    <p class="card-text">{{closedJobs}} jobs</p>
                </div>
            </div>
        </div><br>


        <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <a href="{% url 'addJob' %}"><button type="button" class="btn btn-primary btn-lg">Add New Job</button></a>
        </div>
    
  <br>

    <div class="d-flex flex-column gap-4" style="float: inline-end; margin-right: 5%; width: 60%;">
        <form class="d-flex" method="GET">
            <input class="form-control me-1" type="search" placeholder="Search for a job name" aria-label="Search" name="search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div><br><br><br>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-items-center row">
                        <div class="col-lg-8">
                            <div class="mb-3 mb-lg-0"><h6 class="fs-16 mb-0">Showing {{totalJobs}} results</h6></div>
                        </div>
                        <div class="col-lg-4">
                            <form method="GET">
                                <div class="candidate-list-widgets">
                                    <div class="row">
                                        <div class="d-flex justify-content-end">
                                            <div class="col-lg-6" style="padding-right: 20px;">
                                                <div class="selection-widget mt-2 mt-lg-0">
                                                    <select class="form-select" data-trigger="true" name="category" id="category" aria-label="Default select example" onchange="this.form.submit()">
                                                        <option value="">Category</option>
                                                        {% for c in category %}
                                                            <option value="{{c}}">{{c}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="selection-widget mt-2 mt-lg-0">
                                                    <select class="form-select" data-trigger="true" name="department" id="department" aria-label="Default select example" onchange="this.form.submit()">
                                                        <option value="">Department</option>
                                                        {% for d in department %}
                                                            <option value="{{d}}">{{d}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>


        {% if job.count == 0 %}
            <p>There is no jobs currently</p>
        {% else %}
        <div class="candidate-list">
            {% for j in job %}
            <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                    <div class="align-items-center row">
                        <div class="col-lg-5">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                                <h5 class="fs-19 mb-0">
                                    <a class="primary-link" href="#" style="color: blue;"><strong>{{j.name}}</strong></a>  
                                </h5>
                                <p class="text-muted mb-2">{{j.department}}</p>
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list-inline-item"><strong>Category : </strong> {{j.category}}</li>
                                    <li class="list-inline-item"><strong>Type : </strong>{{j.type}}</li>
                                </ul>
                            <p><strong>Contract Duration : </strong>{{j.contractDur}}</p>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <p><strong>Salary : </strong>{{j.salaryMin}} ~ {{j.salaryMax}} BND per annum</p>
                            <p><strong>Minimum level of education : </strong>{{j.minReq}}</p>
                            <p><strong>Years of Experience needed : </strong>{{j.yearsExp}}</p>

                        </div>
                        <div class="col-lg-3">
                        <p><strong>Closing Date : </strong>{{j.dateClose}}</p>
                            <a href="{% url 'editJob' j.id %}"><button type="button" class="btn btn-primary">Edit Job</button></a>
                            <a href="{% url 'viewApplicantsJob' j.id %}"><button type="button" class="btn btn-danger">Archive Job</button></a>
    
                        </div>
                    </div>
                    <div class="favorite-icon">
                        {% if j.status == 'OPEN' %}
                            <span class="badge bg-success ms-1">{{j.status}}</span>
                        {% elif j.status == 'CLOSED' %}
                            <span class="badge bg-danger ms-1">{{j.status}}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>

    
    </section>
    </div>
    {% endif %}

    <div style="margin-top: 150px;">
 {% include 'main/constant/footer.html' %}
    </div>

    
</body>
</html>